fastapi
uvicorn==0.22.0
psycopg2-binary
sqlalchemy
pydantic
passlib
email-validator
confluent-kafka==1.9.2
websockets
kafka-python
redis>=4.3.0
fastapi-limiter
aiokafka
finnhub-python
httpx
python-dotenv
